name: Publish Docker

on:
  push:
    branches: ['*']

permissions:
  contents: read

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USER }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: grombley.dockerfile
          push: true
          tags: |
            ghcr.io/rbuysse/grombley:${{ github.ref_name }}
            ${{ github.ref == 'refs/heads/main' && 'ghcr.io/rbuysse/grombley:latest' || '' }}
